<div style="width: 98%; padding-top: 50px; height: 90%; display: flex; 
justify-content: space-around; align-items: center;">
    <div style="width:350px; height: 500px; font-family: 'Roboto'; padding: 0 15px 0 15px;
     border: 10px solid black;">
        <h1 style="font-size: 40px; margin: 15px 0 15px 0;">ЭТО КОТ</h1>
        <p style="font-size: 20px;">Это просто текст на подложке. 
            Он здесь, чтобы рассказать, что цвет
            подложки текста в HEX: #FFFFFF, 
            а обводки: #222222 отступ со всех
            сторон должен быть одинаковым, 
            но внутри и снаружи карточки он
            может отличаться. <br><br>
            
            Справа от карточки с текстом лежит
            кот, он, как и карточка с текстом,
            должен адаптироваться под ширину
            экрана, но расстояния между
            блоками не должны меняться. <br><br>
            
            И да, именно этот текст и этот кот
            должны быть на страничке :)</p>
    </div>
    <div style="overflow: hidden; height: 520px; width:550px; position: relative;">
        <img src="assets/pagePictures/cat3.png" alt="" height="100%" style="position: absolute; top:0;left: 40%; transform: translateX(-50%);">
    </div>
</div>