<div class="cats-substrate-page-content">
    <div class="description">
        <h1>ЭТО КОТ</h1>
        <p>Это просто текст на подложке. 
            Он здесь, чтобы рассказать, что цвет
            подложки текста в HEX: #FFFFFF, 
            а обводки: #222222 отступ со всех
            сторон должен быть одинаковым, 
            но внутри и снаружи карточки он
            может отличаться. <br><br>
            
            Справа от карточки с текстом лежит
            кот, он, как и карточка с текстом,
            должен адаптироваться под ширину
            экрана, но расстояния между
            блоками не должны меняться. <br><br>
            
            И да, именно этот текст и этот кот
            должны быть на страничке :)</p>
    </div>
    <div class="catimage">
        <img src="assets/pagePictures/cat3.png" alt="" height="100%">
    </div>
</div>