.container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 40%;
    width: fit-content;
    scroll-behavior: smooth;
  }
  
.item {
    border-radius: 10%;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
    width: 170px;
    height: 90%;
    margin-left: 20px;
}
.leftbtn, .rightbtn{
  position: absolute;
  top: 32%;
  border-radius: 50%;
  border: none;
  font-size: 25px;
  width: 60px;
  height: 60px;
  z-index: 1001;
  cursor: pointer;
  background-color: white;
  color: rgba(158, 158, 158, 0.5);
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  transform: translateY(-50%);
}
.leftbtn{
  left: 2%;
}
.rightbtn{
  right: 2%;
}
.bottombtn{
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 250px;
    height: 7%;
    border: 5px solid rgba(158, 158, 158, 0.5);
    border-radius: 20px;
    transform: translateX(-50%);
    font-family: 'Roboto';
    font-size: 20px;
    cursor: pointer;
    background-color: white;
    z-index: 1002;
}
.bottombtn:hover{
  background-color: rgb(92, 255, 80);
  border-color: black;
}