<div style="width: 100%; height: 100%; display: flex; 
justify-content: center; align-items: center;">
    <p style="color: blue; font-family: 'Roboto'; font-size: 25px; text-align: center;">этот текст всегда должен находиться строго в центре экрана</p>
</div>
<div class="circlesBottom">
    <p>Точки снизу должны быть всегда на равном расстоянии друг от друга.</p>
    <div style="background-color: gray; width: 100%; height: 60px; 
    justify-content: space-around; align-items: center; display:flex">
        <div *ngFor="let _ of range; let i = index;" class="item"></div>    
    </div>
</div>