<div fullpage id="fullpage" [options]="config" (ref)="getRef($event)">
  <div class="section">
    <app-cards-page class="app-section"></app-cards-page>
  </div>
  <div class="section">
    <div class="circle"></div>
  	<app-cats-page class="app-section"></app-cats-page>
  </div>
  <div class="section">
  	<app-cats-substrate-page class="app-section" style="display: flex; justify-content: center;"></app-cats-substrate-page>
  </div>
  <div class="section">
  	<app-footer-page class="app-section"></app-footer-page>
  </div>
</div>
