<div style="width: 100%; padding-top: 100px; height: 90%; display: flex;
 justify-content: space-around; position: relative; z-index: 1002;">
    <div class="description">
        <h1 style="font-size: 40px;">ЭТО КОТЫ</h1>
        <p style="font-size: 20px;">Справа от этого текста есть коты,
            коты могут быть расположены 
            в любом другом порядке, но они
            обязательно НЕ ДОЛЖНЫ меняться
            в размерах при изменении
            масштабирования экрана</p>
    </div>
    <div class="img-cats">
        <img src="assets/pagePictures/cat1.png" alt="" width="400px" style="top: 100px; right: 150px">
        <img src="assets/pagePictures/cat2.jpg" alt="" width="300px" style="top: 300px; right: 100px">
        <img src="assets/pagePictures/cat3.png" alt="" width="350px" style="bottom: 100px; right: 200px">
    </div>
</div>